.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid black;
}

.box-aboutUs,
.box-networks {
    background-color: cadetblue;
    text-align: center;
    text-transform: capitalize;
}

.box-aboutUs {
    background-color: aqua;
}

.box-networks {
    background-color: rgb(106, 160, 45);
}

.list-networks {
    display: flex;
    justify-content: center;
    gap: 3.1rem;
}


@media (max-width: 500px) {
    .container {
        grid-template-columns: auto;
    }

    .box-aboutUs,
    .box-networks {
        text-align: center;
    }
}