:root {
    --text--color: #FFFFFF;
    --background--footer: #03738C;
}

.container-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid black;
    background: var(--background--footer);
    color: var(--text--color);
}

.box-aboutUs h3,
.box-email h3 {
    text-transform: uppercase;
}

.box-aboutUs h3,
p,
.box-networks, .box-email h3
{
padding: 0.5rem;
}

.box-networks {
    display: flex;
    align-items: center;
}

.list-networks {
    display: flex;
    gap: 2.0rem;

}


@media (max-width: 500px) {
    .container {
        grid-template-columns: auto;
    }

    .box-aboutUs,
    .box-networks {
        text-align: center;
    }
}

.copyright {
    border: 2px solid yellow;
    grid-column: 1/3;
    text-align: center;
    text-transform: capitalize;
    color: var(--text--color);
}