:root {
    --text--color: #cfcfcf;
    --background--footer: #03738C;
}

.container-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.box-aboutUs,
.box-contact {
    color: var(--text--color);
    padding: 0.5rem;
}

.box-aboutUs h3,
.box-contact h3 {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.list-networks {
    display: flex;
    gap: 0.5rem;
    padding-top: 0.5rem;
}

.form-contact {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    gap: 0.5rem;
    margin: 0 auto;
}

.copyright { 
    grid-column: 1/3;
    text-align: center;
    text-transform: capitalize;
    color: var(--text--color);
}