.grid-container {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 1rem;
  margin: 1rem;
  padding: 2rem;
}

.lateral-content-container {
  grid-column: 2;
  grid-row: 1/2;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1rem;
}

.main-content-container {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1rem;
}
.main-content-container .slider-container {
  display: flex;
}
