body {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #03258c 0%, #032ca6 35%, #03738c 100%);
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

body main { 
  flex: 1 1 0;
}