* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    height: 100vh;
}
h1 {
    font-size: 4rem;
}
main {
    display: flex;
    width: 90vw;
    padding: 1rem;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    gap: 1rem;
}
.header-news {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5vh;
}
.header-news p {
    font-size: 1.2rem;
    opacity: 0.5;
    display: flex;
    gap: 0.5rem;
}

.header-news .destination {
    display: flex;
    border: 1px solid #f29f05;
    width: 20vw;
    align-items: center;
    height: 5vh;
    align-self: flex-start;
    justify-self: flex-end;
    border-radius: 0.5rem;
    transition: all ease 0.3s;
    font-size: 1.2rem;
    color: #f29f05;
    font-weight: 600;
    position: relative;
}
.header-news .destination img {
    width: 100%;
    height: 80%;
    transition: all ease 0.3s;
    left: -15%;
    position: absolute;
}

.header-news .destination:hover {
    transform: scale(1.01);
    background-color: #f29f05;
    color: #fff;
}
.header-news .destination:hover > img {
    transform: translate(50%);
}
.header-news .destination p {
    padding: 1rem;
}
.container-news {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    text-align: center;
}
.container-news .container-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
}

.container-news .container-component p {
    font-size: 1.5rem;
    font-weight: 300;
}

.container-news .container-component img {
    display: block;
    max-width: 70vw;
    border-radius: 0.5rem;
}

.container-news .container-component h2 {
    font-size: 2.2rem;
}
